
{% extends "base.html" %}
{#{% block title %}Location View {{ location.PointID }}{% endblock %}#}
{% block head %}
    {{ super() }}

    {% include "map_head.html" %}
    <style>
        #statstable {
            padding: 10px;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 style="text-align: center">Healy Collaborative Groundwater Monitoring Network</h1>
            <p> The <a href="https://geoinfo.nmt.edu/resources/water/amp/home.html">Aquifer Mapping Program</a> is
                actively expanding the Healy Collaborative Groundwater Monitoring
                Network for New Mexico. Our primary focus is rural and under-monitored regions throughout the state.
                Our public groundwater level data is meant to benefit all water users — especially mutual domestic
                water systems, private domestic well owners, and water management decision-makers.
            </p>
            <p>
                Groundwater data is essential for tracking changes and making informed decisions about water
                management.
            </p>
            <p>
                Data can be accessed via this map or the <a href="/docs">API</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="downloads" role="group" class="btn-group">
                <form>
                    <button class="btn btn-outline-primary" id='download_waterlevels'>Download WaterLevels CSV</button>
                    <button class="btn btn-outline-primary" type="submit" formaction="/collabnet/locations/geojson">Download
                        Locations</button>
                    <button class="btn btn-outline-primary" type="submit" formaction="/collabnet/locations/csv">Download Locations
                        CSV</button>
                </form>
            </div>

            {% include "map_include.html" %}
            <p class="caption">Wells from current participants in the CGMN. Zoom in and click a well to see more
                information</p>

        </div>
        <div class="col">
            <div class="row">
                <h2>Statistics</h2>
                <table class="display compact" id="statstable"></table>
                <h2>Measuring Agencies</h2>
                <table class="display compact" id="contributorstable">
                    <thead>
                    <td>Agency</td>
                    <td>N. Wells</td>
                    <td>N. Measurements</td>
                    </thead>
                </table>
                <p class="caption">
                    Please note that the sum of <code>N. Wells</code> is not equal to <code>N. Locations</code> because
                    some
                    wells
                    are
                    measured
                    by multiple agencies.
                </p>
            </div>
        </div>
    </div>
    <div style="height: 20px"></div>
    <div class="row">
        <div class="col">
            <h2><b>Want to get involved? Participation is Free</b></h2>
            <ul>
                <li>Data sharing is available to well owners, water systems, and small monitoring networks that are
                    willing and able to collect accurate water levels and would like to provide those measurements to
                    the Network.</li>
                <li>Well sharing is available to wells in high priority areas. The NMBGMR can equip suitable wells with
                    continuous monitoring devices or measure groundwater levels manually on an annual basis</li>
            </ul>
            Contact us to see if your well can be added to our monitoring network.
            <a href="mailto:nmbg-waterlevels@nmt.edu">nmbg-waterlevels@nmt.edu</a>
        </div>
    </div>


    <div id="loader"></div>

    <script>
    // load stats table
    $('#contributorstable').DataTable({
        "paging": false,
        "searching": false,
        "info": false,
        "ordering": true,
        "scrollY": "400px",
        "order": [[ 0, "asc" ]],
        "ajax": {
            "url": "/collabnet/measuring_agencies",
            "dataSrc": ""
        },
        "columns": [
            { "data": "name" },
            { "data": "nwells" },
            { "data": "nmeasurements" }
        ]
    });

    $('#statstable').DataTable({
        "paging": false,
        "searching": false,
        "info": false,
        "ordering": false,
        "scrollY": "125px",
        "ajax": {
            "url": "/collabnet/stats",
            "dataSrc": function(d){
                return [{'name': 'N. Locations', 'value': d['nlocations']},
                        {'name': 'N. Water Levels', 'value': d['nwaterlevels']}]
            }
        },
        "columns": [
            { "data": "name" },
            { "data": "value" }
        ]
    });

    </script>
    <script>
        // load map
        const tokenurl = window.location.origin+'/mapboxtoken'
        fetch(tokenurl)
            .then(response => response.json())
            .then(data => {
                mapboxgl.accessToken = data.token;
                initMap({{ center|tojson }}, {{ zoom }}, '/collabnet/locations/fc');
            });

    </script>

    <script>
         // get the download water levels button element
        const downloadButton = document.querySelector('#download_waterlevels');
        // add event listener to the button
         downloadButton.addEventListener("click", async () => {
             document.getElementById("loader").style.display = "block";
             await fetch('/collabnet/waterlevels/csv').then(resp=>resp.blob()).then(blob=>{
                document.getElementById("loader").style.display = "none";

                 const url = window.URL.createObjectURL(blob);
                 const a = document.createElement('a');
                 a.style.display = 'none';
                 a.href = url;

                 // the filename you want
                 a.download = 'waterlevels.csv';
                 document.body.appendChild(a);
                 a.click();
                 window.URL.revokeObjectURL(url);
             })
            }
         )

    </script>

{% endblock %}