<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Display a map on a webpage</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <style>
        body { margin: 0; padding: 0; }
        #map { position: absolute; top: 0; bottom: 0; width: 100%; }
        #statstable { position: absolute; top: 0; left: 0;
            padding: 10px; background: rgba(38, 191, 89, 0.5)
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <div id="statstable">
        <h2>Statistics</h2>
        <table>
            <tr>
                <td>N. Wells</td><td>{{ nlocations }}</td>
            </tr>
        </table>
    </div>


    <script>
        // TO MAKE THE MAP APPEAR YOU MUST
        // ADD YOUR ACCESS TOKEN FROM
        // https://account.mapbox.com
        mapboxgl.accessToken = 'pk.eyJ1IjoiamFrZXJvc3N3ZGkiLCJhIjoiY2s3M3ZneGl4MGhkMDNrcjlocmNuNWg4bCJ9.4r1DRDQ_ja0fV2nnmlVT0A';
        const map = new mapboxgl.Map({
            container: 'map', // container ID
    // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
            style: 'mapbox://styles/mapbox/streets-v12', // style URL
            center: [-106.5, 35], // starting position [lng, lat]
            zoom: 7 // starting zoom
        });

        const popup = new mapboxgl.Popup({
            closeButton: false,
            closeOnClick: false
        });

        map.on('mouseenter', 'wells', (e) => {
            map.getCanvas().style.cursor = 'pointer';

            // Copy coordinates array.
            const coordinates = e.features[0].geometry.coordinates.slice();

            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }

            const description = e.features[0].properties.name
            popup.setLngLat(coordinates).setHTML(description).addTo(map);

        });
        
        map.on('mouseleave', 'wells', () => {
            map.getCanvas().style.cursor = '';
            popup.remove();
        });

        map.on('load',  () => {map.addSource('wells', {type: 'geojson',
            data: '{{ data_url }}' });

            map.addLayer({
                    id: 'wells',
                    type: 'circle',
                    source: 'wells',
                    paint: {
                        'circle-radius': 6,
                        'circle-color': '#B42222'
                    }
            });
          });

    </script>

    </body>
</html>