{% extends "base.html" %}
{% block title %}Location View {{ location.PointID }}{% endblock %}
{% block head %}
    {{ super() }}
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

    <style>
        img {
            float: left;
            width:  300px;
            height: 300px;
            object-fit: cover;
            padding: 10px;
            border: cadetblue 3px solid;
        }

    </style>

{% endblock %}

{% block content %}
    <h1 style="text-align: center">NMBGMR Groundwater Network</h1>
    <h2 style="text-align: center">{{ location.PointID }}</h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <form>
                    <button class="btn btn-outline-primary" action="submit"
                            formaction="/waterlevels/{{ location.PointID }}/csv">Download WaterLevels</button>
                    <button class="btn btn-outline-primary"
                            formaction="/locations/pointid/{{ location.PointID }}/download">
                        Download Site/Well Info
                    </button>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div id="map" style="width: 100%; height: 400px;"></div>
            </div>
            <div class="col-sm-6">
                <div id='chart'
                     class='chart'></div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <h3>NMBGMR Location Data</h3>
                <table id="location_table" class="display compact">
                    <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>AlternateSiteID</td>
                            <td>{{ location.AlternateSiteID }}</td>
                        </tr>
                        <tr>
                            <td>Elevation (ft)</td>
                            <td>{{ (location.geometry.coordinates[2]*3.28084)|round(2)}}</td>
                        </tr>
                        <tr>
                            <td>Formation</td>
                            <td>{{ well.formation }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
{#            <div class="col-sm-4">#}
{#                <h3><a href="https://macrostrat.org" class="icon" target="_blank">Macrostrat Data</a></h3>#}
{#                <table id="macrostrat_data" class="display compact">#}
{#                    <thead>#}
{#                    <tr>#}
{#                        <th>Attribute</th>#}
{#                        <th>Value</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                </table>#}
{#            </div>#}
            <div class="col-sm-6">
                <h3>OSE Data {{well.OSEWellID}} <a target=_blank class='icon' id='water_right'>Water Right</a></h3>
                <table id="pod_table" class="display compact">
                    <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                </table>
                <div style="height: 20px"></div>
            </div>
        </div>
        <div class="row">
            <div id="photocontainer"></div>
        </div>
    </div>

    <script>
        fetch('/locations/pointid/{{ location.PointID }}/photo')
            .then(response => response.json())
            .then(data => {
                console.log(data)
                data.forEach(p => {
                    console.log('pasdf', p)
                    var img = document.createElement('img')
                    img.src = '/locations/photo/'+ p.OLEPath
                    console.log('asdfasdfasd', img)
                    $('#photocontainer').prepend(img)
                })
            })



    </script>
    {# chart loading script #}
    <script type='text/javascript'>
            let graphs = {{ graphJSON | safe }}

            Plotly.plot('chart', graphs,{});

    </script>


    {# map loading script #}
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiamFrZXJvc3N3ZGkiLCJhIjoiY2s3M3ZneGl4MGhkMDNrcjlocmNuNWg4bCJ9.4r1DRDQ_ja0fV2nnmlVT0A';
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
            style: 'mapbox://styles/mapbox/streets-v12', // style URL
            center: {{ location.geometry.coordinates }}, // starting position [lng, lat]
            zoom: 12 // starting zoom
        });

        map.on("load", ()=>{
            map.addSource('places', {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': [
                        {
                            'type': 'Feature',
                            'properties': {
                                'description':
                                    '<strong>{{ location.PointID }}</strong><p>{{ location.AlternateSiteID }}</p>',
                                'icon': 'marker'
                            },
                            'geometry': {
                                'type': 'Point',
                                'coordinates': {{ location.geometry.coordinates }}
                            }
                        }
                    ]
                }})
            map.addLayer({
                'id': 'places',
                'type': 'circle',
                'source': 'places',
                'paint': {
                    'circle-color': '#4264fb',
                    'circle-radius': 6,
                    'circle-stroke-width': 2,
                    'circle-stroke-color': '#ffffff'
                }
            });
        });
    </script>


    {#data table loading script#}
    <script>
        {#const columns = [#}
        {#    { data: 'name'},#}
        {#    { data: 'value' },#}
        {#]#}
        {#const lat = {{ location.geometry.coordinates[1] }}#}
        {#const lon = {{ location.geometry.coordinates[0] }}#}
        {##}
        {#$('#macrostrat_data').DataTable({columns: columns,#}
        {#    paging: false,#}
        {#    searching: false,#}
        {#    scrollY: 300,#}
        {#    info: false,#}
        {#    sorting: false,#}
        {#    ajax: {url: 'https://macrostrat.org/api/v2/mobile/point?lat='+lat+'&lng='+lon,#}
        {#        dataSrc: function(d){#}
        {#            console.log('fasd', d)#}
        {#            let data =  d.success.data#}
        {##}
        {#            return [{'name':'Name','value': data['name']},#}
        {#                {'name': 'Age', 'value': data['age']},#}
        {#                {'name': 'Description', 'value': data['desc']},#}
        {#                {'name': 'Stratigraphic Unit', 'value': data['strat_unit']},#}
        {#                {'name': 'Map', 'value': data['map_ref']['name']},#}
        {#                {'name': 'Map Source', 'value': data['map_ref']['ref_source']},#}
        {#                {'name': 'Map Year', 'value': data['map_ref']['ref_year']}#}
        {#            ]#}
        {#        }#}
        {#    }})#}

        $('#location_table').DataTable({
            paging: false,
            searching: false,
            scrollY: 300,
            info: false,
            {#columns: [#}
            {#    { data: 'name'},#}
            {#    { data: 'value' },#}
            {#]#}
        })
        $('#pod_table').DataTable( {
            paging: false,
            searching: false,
            scrollY: 300,
            info: false,
            ajax:
                {
                    url: '{{ pod_url |safe }}',
                    dataSrc: function(d){
                        console.log(d)
                        try {
                            let pod = d['features'][0]['attributes']
                            $('#water_right').attr('href', pod['nmwrrs_wrs'])

                            return Object.keys(pod).map(function(key) {
                                return {'name': key, 'value': pod[key]}
                            })
                        } catch (e) {
                            return []
                        }

                    }
                },
            columns: [
                { data: 'name'},
                { data: 'value' },
            ]
        } );
    </script>
{% endblock %}
{% block footer %}
    <bold>Disclaimer:</bold><br/>
    <p>
        At NMBGMR, we use different tools to collect groundwater level measurements,
        including continuous data recorders and manual measurements. All data provided here are in feet,
        depth to water, below ground surface (BGS). We use pressure transducers to record pressure of water over a
        device installed in the well, which is converted to feet of water and depth to water. We provide here up to
        one measurement per hour where the data are that frequent. In some locations we have more data available.
        We also use continuous acoustic sounder devices which convert a sound reflection into a measurement of depth
        to water. These can be used for long term trends in groundwater levels. While we do our best to review and
        quality check these data, please use these data with caution. Site-specific conditions should be verified,
        especially for legally binding decisions. Data are subject to changes, deletion, or being moved without
        notice at any time and should not be relied on for any critical application. Any opinions expressed may not
        necessarily reflect the official position of the New Mexico Bureau of Geology, New Mexico Tech, or the State of
        New Mexico. No warranty expressed or implied, is made regarding the accuracy or utility of the data for general
        or scientific purposes.
    </p>
    <p>
        For more information on this project contact: <a href="mailto:Laila.Sturgis@nmt.edu">Laila Sturgis</a>
    </p>
    {{ super() }}
{% endblock %}
