{% extends "base.html" %}
{% block title %}Location View {{ location.PointID }}{% endblock %}
{% block head %}
    {{ super() }}
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

    {% include "map_head.html" %}
    <style>
        img {
            float: left;
            width:  300px;
            height: 300px;
            object-fit: cover;
            padding: 10px;
            border: cadetblue 3px solid;
        }

        #map {
            width: 100%;
            height: 400px;
            position: absolute;
            z-index: 1;
        }
    </style>

{% endblock %}

{% block content %}
    <h1 style="text-align: center">NMBGMR Groundwater Network</h1>
    <h2 style="text-align: center">{{ location.PointID }}</h2>

    <div class="container-fluid">
        <div class="row">
            <table id="sensitive_table" class="display compact">
            </table>
        </div>
        <div class="row">
            <div class="col-sm">
                <form>
                    <button class="btn btn-outline-primary" action="submit"
                            formaction="/waterlevels/{{ location.PointID }}/csv">Download WaterLevels</button>
                    <button class="btn btn-outline-primary"
                            formaction="/locations/pointid/{{ location.PointID }}/download">
                        Download Site/Well Info
                    </button>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6" style="height: 400px">
                {%  include "map_include.html" %}
            </div>
            <div class="col-6">
                <div id='chart'
                     class='chart'></div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <h3>NMBGMR Location Data</h3>
                <table id="location_table" class="display compact">
                    <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>AlternateSiteID</td>
                            <td>{{ location.AlternateSiteID }}</td>
                        </tr>
                        <tr>
                            <td>Elevation (ft)</td>
                            <td>{{ (location.geometry.coordinates[2]*3.28084)|round(2)}}</td>
                        </tr>
                        <tr>
                            <td>Formation</td>
                            <td>{{ well.formation }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
{#            <div class="col-sm-4">#}
{#                <h3><a href="https://macrostrat.org" class="icon" target="_blank">Macrostrat Data</a></h3>#}
{#                <table id="macrostrat_data" class="display compact">#}
{#                    <thead>#}
{#                    <tr>#}
{#                        <th>Attribute</th>#}
{#                        <th>Value</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                </table>#}
{#            </div>#}
            <div class="col-sm-6">
                <h3>OSE Data {{well.OSEWellID}} <a target=_blank class='icon' id='water_right'>Water Right</a></h3>
                <table id="pod_table" class="display compact">
                    <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                </table>
                <div style="height: 20px"></div>
            </div>
        </div>
        <div class="row">
            <div id="photocontainer"></div>
        </div>
    </div>

{#    <script>#}
{#        // load images#}
{#        fetch('/locations/pointid/{{ location.PointID }}/photo')#}
{#            .then(response => response.json())#}
{#            .then(data => {#}
{#                data.forEach(p => {#}
{#                    var img = document.createElement('img')#}
{#                    img.src = '/locations/photo/'+ p.OLEPath#}
{#                    $('#photocontainer').prepend(img)#}
{#                })#}
{#            })#}
{##}
{##}
{#        // load sensitive#}
{#        var fdata = new FormData()#}
{#        fdata.append('username', 'ethan')#}
{#        fdata.append('password', 'secret')#}
{##}
{#        fetch('/token', {method: 'POST', body: fdata}).then(resp => resp.json()).then(data =>{#}
{#            $('#sensitive_table').DataTable({#}
{#                paging: false,#}
{#                searching: false,#}
{#                scrollY: 300,#}
{#                info: false,#}
{#                ajax: {#}
{#                    url: '/locations/pointid/{{ location.PointID }}/sensitive',#}
{#                    headers: {"Authorization": "Bearer " + data.access_token},#}
{#                    dataSrc: function(d){#}
{#                        return Object.keys(d).map(function(key) {#}
{#                            return {'name': key, 'value': d[key]}#}
{#                        })#}
{##}
{#                    }#}
{#                },#}
{#                columns: [#}
{#                    { data: 'name'},#}
{#                    { data: 'value' },#}
{#                ]#}
{#            })#}
{#        })#}
{##}
{#    </script>#}
    <script>
        {# chart loading script #}
        let graphs = {{ graphJSON | safe }}

        Plotly.plot('chart', graphs,{});

        const tokenurl = window.location.origin+'/mapboxtoken'
        fetch(tokenurl)
            .then(response => response.json())
            .then(data => {
                mapboxgl.accessToken = data.token;
                initMap({{ location.geometry.coordinates }}, 12, '/locations/pointid/{{ location.PointID }}/geojson');
            });

        $('#sensitive_table').DataTable({
            paging: false,
            searching: false,
            scrollY: 300,
            info: false,
            ajax: {
                url: '/locations/pointid/{{ location.PointID }}/sensitive',
                dataSrc: function(d){
                    return Object.keys(d).map(function(key) {
                        return {'name': key, 'value': d[key]}
                    })
                }
            },
            columns: [
                { data: 'name'},
                { data: 'value' },
            ]
        })

        $('#location_table').DataTable({
            paging: false,
            searching: false,
            scrollY: 300,
            info: false,
            {#columns: [#}
            {#    { data: 'name'},#}
            {#    { data: 'value' },#}
            {#]#}
        })
        $('#pod_table').DataTable( {
            paging: false,
            searching: false,
            scrollY: 300,
            info: false,
            ajax:
                {
                    url: '{{ pod_url |safe }}',
                    dataSrc: function(d){
                        console.log(d)
                        try {
                            let pod = d['features'][0]['attributes']
                            $('#water_right').attr('href', pod['nmwrrs_wrs'])

                            return Object.keys(pod).map(function(key) {
                                return {'name': key, 'value': pod[key]}
                            })
                        } catch (e) {
                            return []
                        }

                    }
                },
            columns: [
                { data: 'name'},
                { data: 'value' },
            ]
        } );
    </script>

{% endblock %}
{% block footer %}
    <bold>Disclaimer:</bold><br/>
    <p>
        At NMBGMR, we use different tools to collect groundwater level measurements,
        including continuous data recorders and manual measurements. All data provided here are in feet,
        depth to water, below ground surface (BGS). We use pressure transducers to record pressure of water over a
        device installed in the well, which is converted to feet of water and depth to water. We provide here up to
        one measurement per hour where the data are that frequent. In some locations we have more data available.
        We also use continuous acoustic sounder devices which convert a sound reflection into a measurement of depth
        to water. These can be used for long term trends in groundwater levels. While we do our best to review and
        quality check these data, please use these data with caution. Site-specific conditions should be verified,
        especially for legally binding decisions. Data are subject to changes, deletion, or being moved without
        notice at any time and should not be relied on for any critical application. Any opinions expressed may not
        necessarily reflect the official position of the New Mexico Bureau of Geology, New Mexico Tech, or the State of
        New Mexico. No warranty expressed or implied, is made regarding the accuracy or utility of the data for general
        or scientific purposes.
    </p>
    <p>
        For more information on this project contact: <a href="mailto:Laila.Sturgis@nmt.edu">Laila Sturgis</a>
    </p>
    {{ super() }}
{% endblock %}
