<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Location View</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <style>
        body { margin: 0; padding: 0; }
        {##map { position: absolute; top: 0; bottom: 0; width: 100%; }#}
    </style>

</head>

<body>
<h1>{{ location.PointID }}</h1>
<table class="table table-sm">

    <tr>
        <td>AlternateSiteID</td>
        <td>{{ location.AlternateSiteID }}</td>
    </tr>
    <tr>
        <td>Elevation</td>
        <td>{{ location.geometry.coordinates[2]|round(2)}}</td>
    </tr>
        <td>Formation</td>
        <td>{{ well.formation }}</td>
    <tr>

    </tr>
</table>

<hr>
<div id='chart' class='chart'”></div>
<script type='text/javascript'>
    var graphs = {{ graphJSON | safe }}
    Plotly.plot('chart',graphs,{});
</script>
<hr>
<div id="map" style="width: 100%; height: 400px;"></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiamFrZXJvc3N3ZGkiLCJhIjoiY2s3M3ZneGl4MGhkMDNrcjlocmNuNWg4bCJ9.4r1DRDQ_ja0fV2nnmlVT0A';
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
            style: 'mapbox://styles/mapbox/streets-v12', // style URL
            center: {{ location.geometry.coordinates }}, // starting position [lng, lat]
            zoom: 12 // starting zoom
        });

        map.on("load", ()=>{
            map.addSource('places', {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': [
                        {
                            'type': 'Feature',
                            'properties': {
                                'description':
                                    '<strong>{{ location.PointID }}</strong><p>{{ location.AlternateSiteID }}</p>',
                                'icon': 'marker'
                            },
                            'geometry': {
                                'type': 'Point',
                                'coordinates': {{ location.geometry.coordinates }}
                            }
                        }
                    ]
                }})
            map.addLayer({
                'id': 'places',
                'type': 'circle',
                'source': 'places',
                'paint': {
                    'circle-color': '#4264fb',
                    'circle-radius': 6,
                    'circle-stroke-width': 2,
                    'circle-stroke-color': '#ffffff'
                }
            });
        });
    </script>

<hr>
<h1>{{well.OSEWellID}}</h1>
{% for pod in pods %}
    <h3><a href="{{ pod.attributes.nmwrrs_wrs }}">Water Right</a>
    </h3>
    <table class="table table-sm">
        {% for key, value in pod.attributes.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
{% endfor %}

</body>

<footer>
    <bold>Disclaimer:</bold><br/>
    <p>
        At NMBGMR, we use different tools to collect groundwater level measurements,
        including continuous data recorders and manual measurements. All data provided here are in feet,
        depth to water, below ground surface (BGS). We use pressure transducers to record pressure of water over a
        device installed in the well, which is converted to feet of water and depth to water. We provide here up to
        one measurement per hour where the data are that frequent. In some locations we have more data available.
        We also use continuous acoustic sounder devices which convert a sound reflection into a measurement of depth
        to water. These can be used for long term trends in groundwater levels. While we do our best to review and
        quality check these data, please use these data with caution. Site-specific conditions should be verified,
        especially for legally binding decisions. Data are subject to changes, deletion, or being moved without
        notice at any time and should not be relied on for any critical application. Any opinions expressed may not
        necessarily reflect the official position of the New Mexico Bureau of Geology, New Mexico Tech, or the State of
        New Mexico. No warranty expressed or implied, is made regarding the accuracy or utility of the data for general
        or scientific purposes.
    </p>
    <p>
        For more information on this project contact: <a href="mailto: stacy.timmons@nmt.edu">Stacy Timmons</a>
    </p>

</footer>

</html>