
{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {% include "map_head.html" %}
    {% include "loader.html" %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 style="text-align: center">National Ground Water Monitoring Network (NM contribution)</h1>
            <p> <a href="https://geoinfo.nmt.edu/resources/water/amp/home.html">Aquifer Mapping Program</a>
            </p>
            <p>
                Groundwater data is essential for tracking changes and making informed decisions about water
                management.
            </p>
            <p>
                Data can be accessed via this map or the <a href="/docs">API</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
{#            <div id="downloads" role="group" class="btn-group">#}
{#                <form>#}
{#                    <button class="btn btn-outline-primary" id='download_waterlevels'>Download WaterLevels CSV</button>#}
{#                    <button class="btn btn-outline-primary" type="submit" formaction="/ngwmn/locations/geojson">Download#}
{#                        Locations</button>#}
{#                    <button class="btn btn-outline-primary" type="submit" formaction="/ngwmn/locations/csv">Download#}
{#                        Locations#}
{#                        CSV</button>#}
{#                </form>#}
{#            </div>#}

            {%  include "map_include.html" %}

            <p class="caption">Wells from current participants in the NM NGWMN. Zoom in and click a well to see more
                information</p>

        </div>
{#        <div class="col">#}
{#            <div class="row">#}
{#                <h2>Statistics</h2>#}
{#                <table class="display compact" id="statstable"></table>#}
{#                <h2>Measuring Agencies</h2>#}
{#                <table class="display compact" id="contributorstable">#}
{#                    <thead>#}
{#                    <td>Agency</td>#}
{#                    <td>N. Wells</td>#}
{#                    <td>N. Measurements</td>#}
{#                    </thead>#}
{#                </table>#}
{#                <p class="caption">#}
{#                    Please note that the sum of <code>N. Wells</code> is not equal to <code>N. Locations</code> because#}
{#                    some#}
{#                    wells#}
{#                    are#}
{#                    measured#}
{#                    by multiple agencies.#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div style="height: 20px"></div>#}

{#    <div id="loader"></div>#}

    <script>
        // include map.js from static
        const tokenurl = window.location.origin+'/mapboxtoken'
        fetch(tokenurl)
            .then(response => response.json())
            .then(data => {
                mapboxgl.accessToken = data.token;
                initMap({{ center|tojson }}, {{ zoom }}, '/ngwmn/locations/fc');
            });
    </script>

{#    <script>#}
{#         // get the download water levels button element#}
{#        const downloadButton = document.querySelector('#download_waterlevels');#}
{#        // add event listener to the button#}
{#         downloadButton.addEventListener("click", async () => {#}
{#             document.getElementById("loader").style.display = "block";#}
{#             await fetch('/collabnet/waterlevels/csv').then(resp=>resp.blob()).then(blob=>{#}
{#                document.getElementById("loader").style.display = "none";#}
{##}
{#                 const url = window.URL.createObjectURL(blob);#}
{#                 const a = document.createElement('a');#}
{#                 a.style.display = 'none';#}
{#                 a.href = url;#}
{##}
{#                 // the filename you want#}
{#                 a.download = 'waterlevels.csv';#}
{#                 document.body.appendChild(a);#}
{#                 a.click();#}
{#                 window.URL.revokeObjectURL(url);#}
{#             })#}
{#            }#}
{#         )#}
{##}
{#    </script>#}

{% endblock %}